In [2]:
import openai
import os
import pandas as pd
import time

In [4]:
data = pd.read_csv('june2023_result_2.csv')
data

,Unnamed: 0,Unnamed: 0.1,UTC-date,UTC-time,title,content,press,link,score_content,score,score_title
0,0,21324,2023-06-01,2023-06-01 2:18,국회의원 가상자산 자진신고 및 전수조사 이행 촉구 기자회견에서 발언하는 용...,(서울=연합뉴스) 하사헌 기자 = 기본소득당 용혜인 의원이 1일 오전 서울 ...,연합뉴스,https://n.news.naver.com/mnews/article/001/001...,0.0,0.0,0.0
1,1,21325,2023-06-01,2023-06-01 2:07,국회의원 가상자산 자진신고 및 전수조사 이행촉구 공동 기자회견,[서울=뉴시스] 고범준 기자 = 배진교 정의당 원내대표가 1일 오전 서울 여의도 국...,뉴시스,https://n.news.naver.com/mnews/article/003/001...,0.0,0.0,0.0
2,2,21326,2023-06-01,2023-06-01 3:01,5억원 넘는 해외금융계좌 신고해야…올해부턴 비트코인도 포함,"신고대상, 해외금융계좌 내 현금·주식·채권·펀드·가상자산 등미신고액의 최대 20% ...",아시아경제언론사 선정,https://n.news.naver.com/mnews/article/277/000...,0.0,0.0,0.5
3,3,21327,2023-06-01,2023-06-01 2:07,공동 기자회견 하는 용혜인 기본소득당 상임대표,[서울=뉴시스] 고범준 기자 = 용혜인 기본소득당 상임대표가 1일 오전 서울 여의도...,뉴시스,https://n.news.naver.com/mnews/article/003/001...,0.0,0.0,0.0
4,4,21328,2023-06-01,2023-06-01 7:10,"블러, NFT 마켓 이어 담보 대출 시장까지 석권…""금융화가 성장 핵심""","팩맨 블러 창업자, '제3회 AMA DU Festival'서 강연NFT 마켓 '블러...",한국경제,https://n.news.naver.com/mnews/article/015/000...,0.0,0.0,0.5
...,...,...,...,...,...,...,...,...,...,...,...
317,317,21641,2023-06-30,2023-06-30 7:46,"尹대통령, 재정·대북·검찰개혁 상반기 전방위 文정부 비판[용산실록]",윤석열 대통령이 30일 경기 고양시 어울림누리 별무리경기장에서 열린 ‘서해선 대곡-...,헤럴드경제,https://n.news.naver.com/mnews/article/016/000...,0.0,0.0,0.0
318,318,21642,2023-06-30,2023-06-30 1:23,"비트코인, 연내 4만달러 갈 수 있는지 보려면 ‘이걸’ 보라고? [투자360]",[로이터][헤럴드경제=윤호 기자] 올 상반기 가상자산 시장은 지난해에 이어 계속된 ...,헤럴드경제,https://n.news.naver.com/mnews/article/016/000...,0.0,0.0,0.5
319,319,21643,2023-06-30,2023-06-30 5:55,"[속보] 가상자산 이용자 보호법, 국회 본회의 통과",국회 본회의장 전경. 뉴스1 ⓒ News1 DB,뉴스1,https://n.news.naver.com/mnews/article/421/000...,0.0,0.0,0.0
320,320,21644,2023-06-30,2023-06-30 8:36,"월급쟁이라던 김기현 아들, 넉달새 법인 두개 세웠다",NFT·SW 제공업체 만들고공유오피스에 주소만 걸어둬먹튀 의혹 코인社 연루 의혹김기...,A5면 1단,https://n.news.naver.com/mnews/article/009/000...,0.0,0.0,0.0
321,321,21645,2023-06-30,2023-06-30 9:22,첫 발 뗀 가상자산 기본법… 다음 과제는 발행자 자격 규정·백서 규격화,"가상자산 기본법 30일 국회 본회의 통과투자자 보호, 자기 발행 코인 규제 등 담겨...",조선비즈언론사 선정,https://n.news.naver.com/mnews/article/366/000...,0.0,0.0,0.0

In [5]:
data['score_title'] = pd.to_numeric(data['score_title'], errors='coerce')
data['score'] = pd.to_numeric(data['score'], errors='coerce')
data['score_content'] = pd.to_numeric(data['score_content'], errors='coerce')

In [32]:
score_stats = data['score'].describe()
score_title_stats = data['score_title'].describe()
score_content_stats = data['score_content'].describe()

In [33]:
comparison_df = pd.concat([score_stats, score_title_stats, score_content_stats], axis=1, keys=['score', 'score_title', 'score_content'])
print(comparison_df)

            score  score_title  score_content
count  322.000000   322.000000     322.000000
mean    -0.001242     0.030745       0.039130
std      0.420501     0.473686       0.344457
min     -1.000000    -1.000000      -1.000000
25%      0.000000     0.000000       0.000000
50%      0.000000     0.000000       0.000000
75%      0.000000     0.000000       0.000000
max      1.000000     1.000000       1.000000

In [35]:
negative_score_rows = data[(data['score'] < 0) & (data['score_title'] >= 0) & (data['score_content'] >= 0)]
negative_score_rows

,Unnamed: 0,Unnamed: 0.1,UTC-date,UTC-time,title,content,press,link,score_content,score,score_title
53,53,21377,2023-06-06,2023-06-06 8:54,'첩첩산중' 바이낸스…CFTC 이어 SEC도 법적 조치 나서,"SEC, CFTC 이어 바이낸스 제소…""증권법 위반""""창펑 자오 대표, 거래량 조작...",한국경제,https://n.news.naver.com/mnews/article/015/000...,0.0,-1.0,0.0
70,70,21394,2023-06-07,2023-06-07 1:52,가상자산 옥죄는 美…바이낸스 이어 코인베이스 제소(종합),"SEC ""미등록 중개업체 역할""전날 바이낸스·CEO도 소송코인베이스 이틀새 20% ...",6면 TOP,https://n.news.naver.com/mnews/article/277/000...,0.0,-1.0,0.5
106,106,21430,2023-06-11,2023-06-11 2:55,FOMC 앞두고 비트코인·이더리움 약세,"비트코인 2%, 이더리움 4% 하락도지코인 -11% 등 알트코인 하락폭 커SEC 전...",이데일리,https://n.news.naver.com/mnews/article/018/000...,0.5,-1.0,0.0
152,152,21476,2023-06-14,2023-06-14 12:06,"'입출금 중단' 하루인베스트 ""문제 일으킨 파트너사는 B&S홀딩스""","""B&amp;S 홀딩스 상대로 법적 대응""B&amp;S 홀딩스, 파산한 거래소 FT...",뉴스1언론사 선정,https://n.news.naver.com/mnews/article/421/000...,0.0,-1.0,0.0

In [36]:
negative_score_rows.to_csv('negative_score_rows_june2023.csv', encoding='utf-8-sig')

In [7]:
print(data['score_title'].dtype)

float64

In [6]:
bitcoin = pd.read_csv('bitcoin_krw.csv', index_col=0)
bitcoin

,date,open,high,low,close,volume,value,currency,수익률
0,2017-09-25 09:00:00,4201000.0,4333000.0,4175000.0,4322000.0,132.484755,5.602146e+08,KRW-BTC,NaN
1,2017-09-26 09:00:00,4317000.0,4418000.0,4311000.0,4321000.0,22.788340,9.950724e+07,KRW-BTC,-0.000231
2,2017-09-27 09:00:00,4322000.0,4677000.0,4318000.0,4657000.0,32.269662,1.448276e+08,KRW-BTC,0.074885
3,2017-09-28 09:00:00,4657000.0,4772000.0,4519000.0,4586000.0,80.588243,3.721860e+08,KRW-BTC,-0.015363
4,2017-09-29 09:00:00,4586000.0,4709000.0,4476000.0,4657000.0,59.352373,2.724558e+08,KRW-BTC,0.015363
...,...,...,...,...,...,...,...,...,...
2182,2023-09-16 09:00:00,35907000.0,36051000.0,35800000.0,35938000.0,2192.885125,7.875507e+10,KRW-BTC,0.000278
2183,2023-09-17 09:00:00,35939000.0,35996000.0,35650000.0,35758000.0,2014.744093,7.210203e+10,KRW-BTC,-0.005021
2184,2023-09-18 09:00:00,35758000.0,36801000.0,35658000.0,36000000.0,3943.417510,1.427953e+11,KRW-BTC,0.006745
2185,2023-09-19 09:00:00,36000000.0,36820000.0,35750000.0,36500000.0,3097.748505,1.124439e+11,KRW-BTC,0.013793
2186,2023-09-20 09:00:00,36509000.0,36743000.0,36319000.0,36480000.0,1296.983561,4.734088e+10,KRW-BTC,-0.000548

In [7]:
from datetime import datetime

# Convert the 'date' column to a datetime format if it isn't already
bitcoin['date'] = pd.to_datetime(bitcoin['date'])

# Keep only the date portion
bitcoin['date'] = bitcoin['date'].dt.date

# Convert string dates to datetime.date objects for comparison
start_date = datetime.strptime('2023-06-01', '%Y-%m-%d').date()
end_date = datetime.strptime('2023-07-03', '%Y-%m-%d').date()

# Filter rows for June 2023
filtered_data = bitcoin[(bitcoin['date'] >= start_date) & (bitcoin['date'] < end_date)]

filtered_data

,date,open,high,low,close,volume,value,currency,수익률
2075,2023-06-01,36391000.0,36509000.0,35715000.0,35823000.0,3403.840081,1.225855e+11,KRW-BTC,-0.015731
2076,2023-06-02,35823000.0,36150000.0,35470000.0,36089000.0,3129.382447,1.123631e+11,KRW-BTC,0.007398
2077,2023-06-03,36089000.0,36102000.0,35801000.0,35888000.0,1925.565561,6.922122e+10,KRW-BTC,-0.005585
2078,2023-06-04,35888000.0,36146000.0,35820000.0,35865000.0,1679.790548,6.034128e+10,KRW-BTC,-0.000641
2079,2023-06-05,35894000.0,35896000.0,33825000.0,34298000.0,6815.063125,2.374543e+11,KRW-BTC,-0.044675
2080,2023-06-06,34299000.0,35993000.0,33580000.0,35852000.0,5402.995691,1.866340e+11,KRW-BTC,0.044312
2081,2023-06-07,35855000.0,35993000.0,34797000.0,34952000.0,4520.054910,1.596646e+11,KRW-BTC,-0.025424
2082,2023-06-08,34953000.0,35416000.0,34802000.0,34996000.0,2370.319951,8.300358e+10,KRW-BTC,0.001258
2083,2023-06-09,34996000.0,35161000.0,34802000.0,34865000.0,2335.692703,8.164586e+10,KRW-BTC,-0.003750
2084,2023-06-10,34865000.0,34914000.0,33842000.0,34372000.0,6040.928715,2.068005e+11,KRW-BTC,-0.014241
2085,2023-06-11,34370000.0,34639000.0,34016000.0,34345000.0,1754.273109,6.015712e+10,KRW-BTC,-0.000786
2086,2023-06-12,34345000.0,34480000.0,33950000.0,34059000.0,2362.404561,8.069421e+10,KRW-BTC,-0.008362
2087,2023-06-13,34059000.0,34479000.0,33808000.0,33913000.0,3607.818513,1.230753e+11,KRW-BTC,-0.004296
2088,2023-06-14,33913000.0,34119000.0,32779000.0,33007000.0,4128.490874,1.382894e+11,KRW-BTC,-0.027079
2089,2023-06-15,33007000.0,33618000.0,32510000.0,33449000.0,3841.664425,1.265365e+11,KRW-BTC,0.013302
2090,2023-06-16,33449000.0,34758000.0,33121000.0,34501000.0,3402.645026,1.151894e+11,KRW-BTC,0.030966
2091,2023-06-17,34515000.0,35080000.0,34320000.0,34780000.0,2597.636499,9.025277e+10,KRW-BTC,0.008054
2092,2023-06-18,34780000.0,34942000.0,34463000.0,34466000.0,1583.139651,5.497089e+10,KRW-BTC,-0.009069
2093,2023-06-19,34466000.0,35375000.0,34455000.0,35092000.0,2502.201132,8.710479e+10,KRW-BTC,0.018000
2094,2023-06-20,35095000.0,37100000.0,35000000.0,36946000.0,5488.638490,1.972483e+11,KRW-BTC,0.051484
2095,2023-06-21,36955000.0,40100000.0,36870000.0,39135000.0,10873.384402,4.187345e+11,KRW-BTC,0.057560
2096,2023-06-22,39135000.0,39861000.0,38901000.0,39125000.0,6599.230546,2.599906e+11,KRW-BTC,-0.000256
2097,2023-06-23,39125000.0,41388000.0,39111000.0,40651000.0,8004.819339,3.227741e+11,KRW-BTC,0.038262
2098,2023-06-24,40651000.0,40931000.0,40383000.0,40659000.0,3933.825602,1.600348e+11,KRW-BTC,0.000197
2099,2023-06-25,40659000.0,41399000.0,40197000.0,40352000.0,4478.466286,1.827269e+11,KRW-BTC,-0.007579
2100,2023-06-26,40352000.0,40599000.0,39555000.0,40077000.0,4959.925030,1.986128e+11,KRW-BTC,-0.006838
2101,2023-06-27,40094000.0,40950000.0,39963000.0,40585000.0,4130.902659,1.668673e+11,KRW-BTC,0.012596
2102,2023-06-28,40587000.0,40629000.0,39966000.0,40020000.0,2988.757824,1.202112e+11,KRW-BTC,-0.014019
2103,2023-06-29,40017000.0,41048000.0,39997000.0,40583000.0,3490.488265,1.417772e+11,KRW-BTC,0.013970
2104,2023-06-30,40583000.0,41569000.0,39500000.0,40547000.0,8585.543862,3.488689e+11,KRW-BTC,-0.000887
2105,2023-07-01,40547000.0,40877000.0,40391000.0,40691000.0,2709.937088,1.101487e+11,KRW-BTC,0.003545
2106,2023-07-02,40712000.0,40875000.0,40250000.0,40652000.0,2235.268698,9.073858e+10,KRW-BTC,-0.000959

In [9]:
filtered_data = filtered_data[['date', '수익률']]
# filtered_data['lagged_수익률'] = filtered_data['수익률'].shift(-1)
filtered_data

            date       수익률
2075  2023-06-01 -0.015731
2076  2023-06-02  0.007398
2077  2023-06-03 -0.005585
2078  2023-06-04 -0.000641
2079  2023-06-05 -0.044675
2080  2023-06-06  0.044312
2081  2023-06-07 -0.025424
2082  2023-06-08  0.001258
2083  2023-06-09 -0.003750
2084  2023-06-10 -0.014241
2085  2023-06-11 -0.000786
2086  2023-06-12 -0.008362
2087  2023-06-13 -0.004296
2088  2023-06-14 -0.027079
2089  2023-06-15  0.013302
2090  2023-06-16  0.030966
2091  2023-06-17  0.008054
2092  2023-06-18 -0.009069
2093  2023-06-19  0.018000
2094  2023-06-20  0.051484
2095  2023-06-21  0.057560
2096  2023-06-22 -0.000256
2097  2023-06-23  0.038262
2098  2023-06-24  0.000197
2099  2023-06-25 -0.007579
2100  2023-06-26 -0.006838
2101  2023-06-27  0.012596
2102  2023-06-28 -0.014019
2103  2023-06-29  0.013970
2104  2023-06-30 -0.000887
2105  2023-07-01  0.003545
2106  2023-07-02 -0.000959

In [26]:
grouped_df = data.groupby('UTC-date')['score_content'].mean().reset_index()
grouped_df = grouped_df.rename(columns={'UTC-date': 'date'})
grouped_df['lagged_score_1'] = grouped_df['score_content'].shift(1)
grouped_df['lagged_score_2'] = grouped_df['score_content'].shift(2)
grouped_df['lagged_score_3'] = grouped_df['score_content'].shift(3)
grouped_df

          date  score_content  lagged_score_1  lagged_score_2  lagged_score_3
0   2023-06-01       0.083333             NaN             NaN             NaN
1   2023-06-02       0.178571        0.083333             NaN             NaN
2   2023-06-03       0.125000        0.178571        0.083333             NaN
3   2023-06-04       0.055556        0.125000        0.178571        0.083333
4   2023-06-05       0.000000        0.055556        0.125000        0.178571
5   2023-06-06      -0.333333        0.000000        0.055556        0.125000
6   2023-06-07       0.000000       -0.333333        0.000000        0.055556
7   2023-06-08       0.000000        0.000000       -0.333333        0.000000
8   2023-06-09       0.000000        0.000000        0.000000       -0.333333
9   2023-06-10       0.000000        0.000000        0.000000        0.000000
10  2023-06-11      -0.150000        0.000000        0.000000        0.000000
11  2023-06-12      -0.083333       -0.150000        0.000000        0.000000
12  2023-06-13       0.184615       -0.083333       -0.150000        0.000000
13  2023-06-14      -0.031250        0.184615       -0.083333       -0.150000
14  2023-06-15       0.033333       -0.031250        0.184615       -0.083333
15  2023-06-16       0.000000        0.033333       -0.031250        0.184615
16  2023-06-17       0.014286        0.000000        0.033333       -0.031250
17  2023-06-18       0.150000        0.014286        0.000000        0.033333
18  2023-06-19      -0.100000        0.150000        0.014286        0.000000
19  2023-06-20       0.035714       -0.100000        0.150000        0.014286
20  2023-06-21       0.181818        0.035714       -0.100000        0.150000
21  2023-06-22       0.272727        0.181818        0.035714       -0.100000
22  2023-06-23       0.000000        0.272727        0.181818        0.035714
23  2023-06-24       0.200000        0.000000        0.272727        0.181818
24  2023-06-25       0.000000        0.200000        0.000000        0.272727
25  2023-06-26       0.285714        0.000000        0.200000        0.000000
26  2023-06-27       0.050000        0.285714        0.000000        0.200000
27  2023-06-28       0.000000        0.050000        0.285714        0.000000
28  2023-06-29       0.000000        0.000000        0.050000        0.285714
29  2023-06-30       0.200000        0.000000        0.000000        0.050000

In [27]:
# Convert 'date' columns to datetime.date in both DataFrames
grouped_df['date'] = pd.to_datetime(grouped_df['date']).dt.date
filtered_data['date'] = pd.to_datetime(filtered_data['date']).dt.date

# Merge the two DataFrames based on the 'date' column
merged_df = pd.merge(grouped_df, filtered_data, on='date')
merged_df = merged_df.drop([0, 1, 2])
merged_df

<ipython-input-27-0042aece0dff>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['date'] = pd.to_datetime(filtered_data['date']).dt.date

,date,score_content,lagged_score_1,lagged_score_2,lagged_score_3,수익률
3,2023-06-04,0.055556,0.125000,0.178571,0.083333,-0.000641
4,2023-06-05,0.000000,0.055556,0.125000,0.178571,-0.044675
5,2023-06-06,-0.333333,0.000000,0.055556,0.125000,0.044312
6,2023-06-07,0.000000,-0.333333,0.000000,0.055556,-0.025424
7,2023-06-08,0.000000,0.000000,-0.333333,0.000000,0.001258
8,2023-06-09,0.000000,0.000000,0.000000,-0.333333,-0.003750
9,2023-06-10,0.000000,0.000000,0.000000,0.000000,-0.014241
10,2023-06-11,-0.150000,0.000000,0.000000,0.000000,-0.000786
11,2023-06-12,-0.083333,-0.150000,0.000000,0.000000,-0.008362
12,2023-06-13,0.184615,-0.083333,-0.150000,0.000000,-0.004296
13,2023-06-14,-0.031250,0.184615,-0.083333,-0.150000,-0.027079
14,2023-06-15,0.033333,-0.031250,0.184615,-0.083333,0.013302
15,2023-06-16,0.000000,0.033333,-0.031250,0.184615,0.030966
16,2023-06-17,0.014286,0.000000,0.033333,-0.031250,0.008054
17,2023-06-18,0.150000,0.014286,0.000000,0.033333,-0.009069
18,2023-06-19,-0.100000,0.150000,0.014286,0.000000,0.018000
19,2023-06-20,0.035714,-0.100000,0.150000,0.014286,0.051484
20,2023-06-21,0.181818,0.035714,-0.100000,0.150000,0.057560
21,2023-06-22,0.272727,0.181818,0.035714,-0.100000,-0.000256
22,2023-06-23,0.000000,0.272727,0.181818,0.035714,0.038262
23,2023-06-24,0.200000,0.000000,0.272727,0.181818,0.000197
24,2023-06-25,0.000000,0.200000,0.000000,0.272727,-0.007579
25,2023-06-26,0.285714,0.000000,0.200000,0.000000,-0.006838
26,2023-06-27,0.050000,0.285714,0.000000,0.200000,0.012596
27,2023-06-28,0.000000,0.050000,0.285714,0.000000,-0.014019
28,2023-06-29,0.000000,0.000000,0.050000,0.285714,0.013970
29,2023-06-30,0.200000,0.000000,0.000000,0.050000,-0.000887

In [31]:
import statsmodels.api as sm

# 2. Prepare the data
X = merged_df['lagged_score_3']  
X = sm.add_constant(X)  # Adds a constant term to the predictor
y = merged_df['수익률']

# 3. Fit an OLS regression model
model = sm.OLS(y, X).fit()

# 4. Print the summary
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    수익률   R-squared:                       0.036
Model:                            OLS   Adj. R-squared:                 -0.003
Method:                 Least Squares   F-statistic:                    0.9286
Date:                Sun, 08 Oct 2023   Prob (F-statistic):              0.344
Time:                        14:53:12   Log-Likelihood:                 63.565
No. Observations:                  27   AIC:                            -123.1
Df Residuals:                      25   BIC:                            -120.5
Df Model:                           1
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
const              0.0031      0.005      0.632      0.533      -0.007       0.013
lagged_score_3     0.0343      0.036      0.964      0.344      -0.039       0.108
==============================================================================
Omnibus:                        1.503   Durbin-Watson:                   1.931
Prob(Omnibus):                  0.472   Jarque-Bera (JB):                0.619
Skew:                           0.341   Prob(JB):                        0.734
Kurtosis:                       3.292   Cond. No.                         7.76
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.