In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
df1 = pd.read_csv(r'G:\내 드라이브\DATASET\Kakao\kor_sentiment\score_full.csv', engine='python')
df2 = pd.read_csv(r'G:\내 드라이브\DATASET\Kakao\kor_sentiment\score_title.csv', engine='python')
df3 = pd.read_csv(r'G:\내 드라이브\DATASET\Kakao\kor_sentiment\score_content.csv', engine='python')

In [7]:
print(len(df1))
print(len(df2))
print(len(df3))

22209
22209
22209

In [12]:
df2

,UTC-date,UTC-time,title,content,press,link,score_title,score_title2
0,2016-12-31,2016-12-31 22:00:00,한국 금융산업 위기… ‘우버 모멘트’ 를 넘어라,© News1저금리·저성장 전통 금융산업 위기4차 산업혁명...세계는 핀테크 혁명 ...,뉴스1,https://n.news.naver.com/mnews/article/421/000...,0,0.0
1,2017-01-01,2017-01-01 06:15:04,"英 파운드, 2016년 최악의 통화 ···'디지털통화' 비트코인 최고의 수익자산...",【뉴욕=정지원 특파원】 영국의 파운드가 2106년 최악의 통화로 기록됐다. 파운드는...,파이낸셜뉴스,https://n.news.naver.com/mnews/article/014/000...,0.5,0.5
2,2017-01-01,2017-01-01 07:03:04,"[신년기획]블록체인, 금융권 넘어 IT기업도 관심",“블록체인은 인터넷 이후 나온 가장 혁신적이며 파괴적인 기술이다.”블록체인을 바라보...,39면 1단,https://n.news.naver.com/mnews/article/030/000...,0,0.0
3,2017-01-02,2017-01-02 09:47:22,공공기관·기업 대상으로 랜섬웨어 다량 유포…관계자 주의 필요,[아시아경제 박소연 기자]이스트소프트는 2일 국내 주요 국가 기관과 기업을 대상으로...,아시아경제,https://n.news.naver.com/mnews/article/277/000...,-1,-1.0
4,2017-01-02,2017-01-02 08:04:01,블록체인 등 최신 핀테크 기술 도입… `금융 한류` 일으키자,올 세계 은행 80% '블록체인' 도입 전망금융회사 거래 비용 약 30% 절감 예측...,4면 TOP,https://n.news.naver.com/mnews/article/029/000...,0,0.0
...,...,...,...,...,...,...,...,...
22204,2023-08-30,2023-08-30 02:13:01,"웨이브릿지, 빈터와 전통·가상자산 혼합형 전략 지수 발표",사진=웨이브릿지퀀트 기반 핀테크 기업 웨이브릿지가 글로벌 지수 빈터(Vinter)와...,한국경제,https://n.news.naver.com/mnews/article/015/000...,0.0,0.0
22205,2023-08-30,2023-08-30 02:14:01,"CJ ONE, 디지털 멤버십 NFT 발행",구매고객에 매달 최대 1만 포인트CJ올리브네트웍스가 운영하는 라이프스타일 멤버십 서...,16면 1단,https://n.news.naver.com/mnews/article/016/000...,0.0,0.0
22206,2023-08-30,2023-08-30 02:31:01,"‘신뢰’ 등에 업은 페이팔의 스테이블 코인, 시장의 메기가 될까[비트코인 A...",미국 캘리포니아주에 위치한 페이팔 본사./연합뉴스결제 공룡 페이팔이 스테이블 코인 ...,한경비즈니스,https://n.news.naver.com/mnews/article/050/000...,0.5,0.5
22207,2023-08-30,2023-08-30 01:50:07,"웨이브릿지, HAAM 전략 지수 개발…'코인 투자 손실률 최소화'",글로벌 지수 사업자 '빈터'와 맞손[ⓒ웨이브릿지][디지털데일리 박세아 기자] 퀀트 ...,디지털데일리,https://n.news.naver.com/mnews/article/138/000...,0.0,0.0
22208,2023-08-30,2023-08-30 01:31:36,올해 상반기 금융사 '의심 거래' 보고 10% 늘어,올해 상반기 금융사들의 의심 거래 보고 건수가 지난해보다 10% 가까이 늘어난 것으...,YTN,https://n.news.naver.com/mnews/article/052/000...,0.5,0.5

In [13]:
filtered_df1 = df1[df1['score2'].notna() & (df1['score2'] >= -1) & (df1['score2'] <= 1)]
filtered_df2 = df2[df2['score_title2'].notna() & (df2['score_title2'] >= -1) & (df2['score_title2'] <= 1)]
filtered_df3 = df3[df3['score_content2'].notna() & (df3['score_content2'] >= -1) & (df3['score_content2'] <= 1)]

In [14]:
print(len(filtered_df1))
print(len(filtered_df2))
print(len(filtered_df3))

22185
22209
22165

In [ ]:
excluded_presses = [
    "CNBC", "Reuters", "Investopedia", "Kiplinger's Personal Finance",
    "CBC News", "Nakedcapitalism.com", "Itsecuritynews.info", "Medium"
]

# 'press' 열이 excluded_presses 리스트에 없는 행만 필터링
filtered_df1 = filtered_df1[~filtered_df1['press'].isin(excluded_presses)]
filtered_df2 = filtered_df2[~filtered_df2['press'].isin(excluded_presses)]
filtered_df3 = filtered_df3[~filtered_df3['press'].isin(excluded_presses)]

print(len(filtered_df1))
print(len(filtered_df2))
print(len(filtered_df3))